# Logs
*.log
npm-debug.log

# Dependency directory
node_modules

# Runtime data
tmp

# Examples (If applicable to your project)
examples

#others
_tests_
android
ios

#assets
fireworks.gif
circularFire.gif